@font-face {
    font-family: Big_Shoulders_Display;
    src: url(../font/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lexend_Deca;
    src: url(../font/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: Lexend_Deca;
}

.container {
    width: 650px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.container .sedans,
.container .suvs,
.container .luxury {
    width: 33.3%;
    height: 100%;
    padding: 30px;
    color: #fff;
}

.container .sedans,
.container .sedans .body button {
    background-color: hsl(31, 77%, 52%);
}

.container .suvs,
.container .suvs .body button {
    background-color: hsl(184, 100%, 22%);
}

.container .luxury,
.container .luxury .body button {
    background-color: hsl(179, 100%, 13%);
}

.container .head h1 {
    font-family: Big_Shoulders_Display;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}

.container .body p {
    font-size: 12px;
    font-weight: 300;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 50px;
}

.container .sedans .body button,
.container .suvs .body button,
.container .luxury .body button {
    width: 60%;
    height: 40px;
    background: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
}

.container .sedans .body button {
    color: hsl(31, 77%, 52%);
}

.container .suvs .body button {
    color: hsl(184, 100%, 22%);
}

.container .luxury .body button {
    color: hsl(179, 100%, 13%);
}

.container .sedans .body button:hover,
.container .suvs .body button:hover,
.container .luxury .body button:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

@media (max-width:530px) {
    body {
        display: block;
    }

    .container {
        width: 100%;
        min-height: 600px;
        display: block;

        overflow: visible;
    }

    .container .sedans,
    .container .suvs,
    .container .luxury {
        width: 100%;

    }
}